# environment variables
*.env

# pycache directories
__pycache__

# log files
*.log

# Data files
weekly_messages.dat

# Replit files
poetry.lock
pyproject.toml
.pythonlibs/*
.replit
.upm/*
.cache/*

# VS Code files
settings.json